/* footer */
.footer {

  color: white;
  padding: 25px;
  background: #000000;
  
}


.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: blue;
  border-bottom: 3px solid white;
}


.img {
  margin-top: -18px;

}


/* Page Not Found */

.pnf {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  color: black;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
  color: black;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: rgb(217, 180, 180);
}


/* spinner */

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

/* form */


.form-container {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #d0c2ff;
  background-image: red
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
  background: rgb(140, 169, 228);
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;

}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #380ce6cd;
  color: white;
  width: 150px;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #23a336;
}


.color {
  background:rgb(145, 148, 239);
}

.form-container1 {
  background: rgb(211, 150, 150);
  margin-top: -15.8px;
  min-height: 70vh;
}